body {
    background-color: #eef2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.login-container .register-link a {
    color: #007bff;
    text-decoration: none;
}

.login-container .register-link a:hover {
    text-decoration: underline;
}
